$textColor: #7b819a;
$titleColor: #292949;
$mainFont: 'Roboto', sans-serif;
$titleFont: 'Circular', sans-serif;
$yellow: #f2c94c;
$red: #f96878;
$blue: #a0c4f7;
$purple: #6a4eff;
$green: #61dbb4;
$backgroundLeftFields: #f5f8fe;
$backgroundRightFields: rgba(243, 245, 248, .8);
$border: 1px solid #e9edf3;